Flask
Flask-Login
Flask-SQLAlchemy
Flask-SocketIO
Flask-Mail
Flask-Talisman
Flask-Cors
Flask-WTF
Flask-Limiter
python-dotenv
stripe
requests
gunicorn
eventlet
google-api-python-client
google-auth-httplib2
google-auth
markupsafe
