Flask
Flask-Login
Flask-SQLAlchemy
Flask-SocketIO
python-dotenv
Flask-Cors
Flask-Talisman
Flask-Limiter
Flask-Bcrypt
Flask-Mail
itsdangerous
bleach
stripe
google-generativeai
password-strength
click
gunicorn
eventlet
